*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    padding: 30px;
    background-color: rgb(238, 243, 241);
}
.hide {
    display: none;
}

.block {
    display: block;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
.flexColumn {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.greenish {
    border-left: solid 10px rgba(0, 255, 0, .5);
    
}
.yellowish {
    border-left: solid 10px rgba(243, 239, 25, 0.5);
}
.redish {
    border-left: solid 10px rgba(255, 0, 0, .5);
}
.reder {
    border-left: solid 10px rgba(255, 0, 0, .9);
}
.underline {
    text-decoration: underline;
}
.bold800 {
    font-weight: 800;
}
.boxShaddow {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .1);
}
.lineThrough {
    text-decoration: line-through;
}
.listHeader {
    font-weight: 900;
    padding: 10px;
}
.note {
    display: flex;
    font-weight: 100;
    padding: 1px;
}
.checkList {
    margin: 10px;
    z-index: 9999;
}

.noteDiv {
    padding: 10px;
    background-color: white;
    width: 90vw;
}
.checkListDiv {
    padding: 10px;
    background-color: rgba(0, 0, 0, .1);
    color:black;
}
.checkListIcon {
    width: 35px;
}
.listItemInput {
    margin-bottom: 5px;
}
button {
    border: none;
    background-color: white;
    padding: 5px;
    margin: 5px;
}
button:active {
    background-color: rgba(0, 0, 0, .3);
    color: white;
}
input {
    border: none;
    padding: 5px;
    margin: 5px;
}
.newNoteBtn {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(6, 138, 245);
    color: white;
    font-size: xx-large;
    z-index: 9999;
}
#menuBtn {
    position: fixed;
    top: 25px;
    right: 25px;
}
.menuDiv {
    background-color: aliceblue;
    border-radius: 7px;
    padding: 50px;
    position: absolute;
    top: 150px;
    left: 20vw;
    z-index: 9998;
}
.blur {
    filter: blur(8px);
  -webkit-filter: blur(8px);
}