*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    padding: 30px;
}
.listHeader {
    font-weight: 900;
    padding: 10px;
}
.note {
    display: flex;
    font-weight: 100;
    padding: 1px;
}
.hide {
    display: none;
}

.block {
    display: block;
}
.flexColumn {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.greenish {
    background-color: rgba(0, 255, 0, .5);
}
.yellowish {
    background-color: rgba(248, 245, 64, 0.5);
}
.redish {
    background-color: rgba(255, 0, 0, .5);
}
.red {
    background-color: rgba(255, 0, 0, .9);
}
